---
title: Error
bodyClass: error
---
<!-- build:template
<%= error.model %>
/build -->

<!-- build:template
<%= error.variables %>
/build -->

<!-- build:template
<h2><%= error.title %></h2>
/build -->

<!-- build:remove --><h2>Error</h2><!-- /build -->
<p>Lorem ipsum dolor sit amet.</p>