---
title: Home
bodyClass: index
---
<!-- build:template
<%= index.model %>
/build -->

<!-- build:template
<%= index.variables %>
/build -->

<!-- build:template
<h2><%= index.title %></h2>
/build -->

<!-- build:remove --><h2>Home</h2><!-- /build -->
<p>Lorem ipsum dolor sit amet.</p>

<!-- build:template
<%= index.dashboard %>
/build -->