---
title: Thank You
bodyClass: thank-you
---
<!-- build:template
<%= thankyou.model %>
/build -->

<!-- build:template
<%= thankyou.variables %>
/build -->

<!-- build:template
<h2><%= thankyou.title %></h2>
/build -->

<!-- build:remove --><h2>Thank You</h2><!-- /build -->
<p>Lorem ipsum dolor sit amet.</p>